@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #151623;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #f2f2f2;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
